.login-card {
  padding: 20px;
  font-size: 16px;
}

.login-card h1 {
  font-size: 2.5em;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.015em;
  color: #fff;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 40px;
}

.base-input::placeholder {
  font-size: 16px;
  letter-spacing: -1.5%;
  color: #9e9e9e;
}

.login-submit {
  margin-bottom: 50px;
}

.btn-login {
  margin-bottom: 50px;
}

@media (min-width: 576px) {
  .login-card {
    padding: 50px;
    height: 570px;
  }
}

@media (min-width: 762px) {
  .login-submit {
    margin-left: 12px;
  }
}
