.movie-container h1 {
  font-size: 24px;
  letter-spacing: -1.5%;
  color: #fff;
  padding: 15px;
  margin-bottom: 35px;
}

li {
  list-style: none;
  margin-bottom: 10px;
}
li a {
  color: #fff;
  font-size: 18px;
  letter-spacing: -1.5%;
}

@media (min-width: 762px) {
  .movie-container h1 {
    font-size: 38px;
    padding: 30px;
    margin-bottom: 35px;
  }
}

@media (min-width: 1200px) {
  .movie-container h1 {
    font-size: 48px;
    padding: 30px;
    margin-bottom: 35px;
  }
}
