.main-nav {
  padding-left: 18px;
  min-height: 70px;
  margin-bottom: 25px;
}

.nav-container h1 {
  color: #000000;
  letter-spacing: -0.015em;
  font-size: 1.8em;
}

.logout-container a {
  color: #000000;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  letter-spacing: -0.015em;
  border: 1px solid #000000;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .main-nav {
    padding: 0 30px;
  }
}

@media (min-width: 1200px) {
  .main-nav {
    padding: 0 50px;
  }
}
