.review-listing-container {
  margin-top: 25px;
}

.review-card-content-container {
  padding: 10px;
}

@media (min-width: 576px) {
  .review-card-content-container {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .review-card-content-container {
    padding: 40px;
  }
  .review-listing-container {
    margin-top: 40px;
  }
}

