.review-card-container {
  padding: 5px;
  margin: 0px 10px;
}

.review-card-content {
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  padding: 10px;
  margin-bottom: 10px;
}

.review-card-content p {
  color: #9e9e9e;
  font-size: 16px;
}

.content-container {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.img-star {
  margin-left: 8px;
}

.content-container img {
  width: 13px;
  height: 15px;
}

.content-container h6 {
  margin-left: 15px;
  color: #fff;
  letter-spacing: -0.015em;
  font-size: 16px;
}

@media (min-width: 576px) {
  .img-star {
    margin-left: 0px;
  }
  .review-card-container {
    margin: 0px 20px;
  }
}

@media (min-width: 768px) {
  .review-card-container {
    margin: 0px 30px;
  }
  .review-card-content {
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .review-card-container {
    margin: 0px 40px;
  }
}
